.contents-container {
  min-height: 100vh;
  padding: 230px 130px 50px 130px;
  width: 105%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
  
/* CONTENT CARD */
/*--------------------------------------------*/
/*--------------------------------------------*/
.content-card {
  height: 460px;
  width: 75%;
  border-radius: 18px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 16px;
  overflow: hidden;
  background-color: beige;
/*------------------------------------------*/
  animation-duration: 3s;
  animation-iteration-count: infinite;
  padding: 12px 8px 20px 8px;
  -webkit-box-shadow: 6px 6px 4px 2px rgba(237, 233, 172, 0.95);
  box-shadow: 6px 6px 4px 2px rgba(182, 182, 152, 0.957);
} 
.content-card:hover {
  animation-name: bounce;
  animation-timing-function: ease;
  background-color: rgb(227, 236, 180);
}
@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-10px); }
100% { transform: translateY(0); }
}


/*------------------------------------------*/
.content-img {
  height: 10em;
  width: 15em;
  margin-top: 10px;
  border-radius: 12px;
}
.content-info {
  padding: 8px;
  text-align: center;
}
.content-title {
  margin-top: -45px;
  margin-bottom: 30px;
}
.content-category {
  background-color: greenyellow;
  padding: 15px;
  font-weight: bold;
  border-radius: 8px;
  margin: 25px 85px -30px 85px;
  border-radius: 0 55% 0 55%;
  text-align: center;
}
.detail-button {
  background-color: rgb(247, 170, 27);
  display: flex;
  border: none;
  border-radius: 12px;
  margin-top: 5px;
  cursor: pointer;
  color: white;
}
.content-card span {
  font-size: 14px;
  font-weight: bolder;
}



/* ------------MEDIA QUERIES------------- */
/* ------------MEDIA QUERIES------------- */
@media (max-width: 1350px) {
  .contents-container {
    width: 103%;
    /* background-color: purple; */
  }
  .content-img {
    height: 9em;
    width: 13em;
  }
}
@media (max-width: 1260px) {
  .contents-container {
    padding: 30px auto;
    width: 103%;
    /* background-color: red; */
  }
  .content-img {
    height: 9em;
    width: 14em;
  }
}
@media (max-width: 1240px) {
  /* .contents-container {
    background-color: salmon;
  } */
  .content-img {
    height: 9em;
    width: 13em;
  }
}
@media (max-width: 1160px) {
  .contents-container {
    padding: 30px auto;
    /* background-color: pink; */
  }
  .content-card {
    height: 510px
  }
  .content-desc {
    padding: 20px;
  }
  .content-img {
    height: 9em;
    width: 12em;
  }
}
@media (max-width: 1000px) {
  .contents-container {
    padding: 240px 130px 50px 130px;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: blue; */
  }
  .content-desc {
    padding: 23px;
  }
  .content-img {
    height: 8em;
    width: 12em;
  }
}
@media (max-width: 950px) {
  .contents-container {
    width: 98%;
    /* background-color: green; */
  }
  .content-card {
    height: 480px;
    width: 85%;
  }
  .content-desc {
    padding: 25px;
  }
  .content-img {
    height: 7em;
    width: 12em;
  }
}
@media (max-width: 900px) {
  .contents-container {
    padding: 220px 160px 50px 130px;
    /* background-color: orange; */
  }
  .content-card {
    height: 500px;
    width: 95%;
  }
  .content-img {
    height: 9em;
    width: 15em;
  }
}
@media (max-width: 870px) {
  .contents-container {
    padding: 220px 165px 50px 130px;
    /* background-color: aqua; */
  }
}
@media (max-width: 800px) {
  .contents-container {
    min-height: 100vh;
    padding: 210px 165px 50px 130px;
    /* background-color: teal; */
  }
  .content-card {
    height: 530px;
  }
  .content-img {
    height: 9em;
    width: 14em;
  }
}
@media (max-width: 730px) {
  .contents-container {
    padding: 210px 165px 50px 130px;
    display: flex;
    flex-direction: column;
    /* background-color: darkblue; */
  }
  .content-card {
    padding: 20px;
    height: 550px;
  }
  .content-img {
    height: 12em;
    width: 16em;
  }
}
@media (max-width: 530px) {
  .contents-container {
    padding: 210px 160px 50px 130px;
    /* background-color: gold; */
  }
  .content-img {
    height: 10em;
    width: 14em;
  }
}
@media (max-width: 470px) {
  .contents-container {
    padding: 210px 155px 50px 130px;
    /* background-color: firebrick; */
  }
  .content-desc {
    padding: 15px;
  }
  .content-img {
    height: 9em;
    width: 13em;
  }
}
@media (max-width: 410px) {
  .contents-container {
    padding: 210px 135px 50px 130px;
    /* background-color: slateblue; */
  }
  .content-card {
    width: 90%;
  }
  .content-desc {
    padding: 14px;
  }
}
@media (max-width: 340px) {
  .contents-container {
    padding: 210px 100px 50px 130px;
    width: 108%;
    /* background-color: rgb(99, 96, 96); */
  }
  .content-card {
    width: 80%;
  }
  .content-desc {
    padding: 12px;
  }
  .content-img {
    height: 8em;
    width: 11em;
  }
}








/*--------------------------*/
/*--------------------------*/
/*-------------(BELOW are only testing elements)-------------*/
.all-button,
.fruit-button,
.veggie-button {
  border: none;
  border-radius: 5px;
  margin: 3px;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(235, 226, 226);
}
.all-button {
  background-color: rgb(195, 184, 184);
  color: rgb(58, 55, 55);
}
.fruit-button {
  background-color: red;
}
.veggie-button {
  background-color: green;
}
/* .title {
  color: hotpink;
  text-align: center;
} */

/*-------------(testing elements)-------------*/
.input-container {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  /* background-color: orange;  */
}
.input-container input {
  width: 50%;
  padding: 0px 10px;
}
 .input-container button {
  margin-left: 10px;
  cursor: pointer;
}

/*-----------container where red & green buttons-----------*/
.baskets-container {
  border: solid 2px grey;
  border-radius: 8px;
  padding: 10px;
  background-color: pink;
}
.favorites-container {
  border: solid 2px aqua;
  border-radius: 8px;
  margin: 10px 0px;
  padding: 0 10px 10px 10px;
}

