.contents-container {
  min-height: 100vh;
  padding: 50px 140px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
  
/* CONTENT CARD */
.content-card {
  height: 460px;
  width: 90%;
  background-color: rgb(226, 245, 163);
  margin: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 12px 8px 20px 8px;
  border-radius: 8px;
  -webkit-box-shadow: 6px 6px 4px 2px rgba(0, 0, 0, 0.61);
  box-shadow: 6px 6px 4px 2px rgba(32, 31, 31, 0.61);
}
.content-img {
  height: 10em;
  width: 17em;
  margin-top: 10px;
  border-radius: 12px;
}
.content-info {
  padding: 8px;
  text-align: center;
}
.content-category {
  background-color: greenyellow;
  padding: 10px;
  font-weight: bold;
  border-radius: 8px;
  margin: 25px 85px 0px 85px;
  border-radius: 0 70% 0 70%;
  text-align: center;
}
.content-card button {
  background-color: rgb(247, 170, 27);
  display: flex;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}
.content-card span {
  font-size: 12px;
  font-weight: bolder;
}
.content-details-container {
  background-color: red;
}

/*--------------------------*/
/*--------------------------*/
/* ------------MEDIA QUERIES------------- */
@media (max-width: 1350px) {
  .contents-container {
    background-color: purple;
  }
}
@media (max-width: 1250px) {
  .contents-container {
    padding: 30px 110px;
    background-color: red;
  }
  .content-img {
    height: 9em;
    width: 15em;
  }
}
@media (max-width: 1160px) {
  .contents-container {
    padding: 30px 100px;
    background-color: pink;
  }
  .content-card {
    height: 510px
  }
  .content-desc {
    padding: 20px;
  }
  .content-img {
    height: 9em;
    width: 12em;
  }
}
@media (max-width: 1000px) {
  .contents-container {
    padding: 30px 70px;
    background-color: blue;
  }
  .content-img {
    height: 8em;
    width: 12em;
  }
}
@media (max-width: 950px) {
  .contents-container {
    padding: 30px 50px;
    background-color: green;
  }
  .content-desc {
    padding: 25px;
  }
  .content-img {
    height: 7em;
    width: 12em;
  }
}
@media (max-width: 900px) {
  .contents-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 55px;
    background-color: orange;
  }
  .content-img {
    height: 9em;
    width: 15em;
  }
}
@media (max-width: 870px) {
  .contents-container {
    padding: 50px;
    background-color: aqua;
  }
}
@media (max-width: 800px) {
  .contents-container {
    min-height: 100vh;
    padding: 50px;
  }
  .content-card {
    height: 530px;
  }
  .content-img {
    height: 9em;
    width: 14em;
  }
}
@media (max-width: 710px) {
  .contents-container {
    padding: 50px 95px;
    display: flex;
    flex-direction: column;
  }
  .content-card {
    padding: 20px;
    height: 550px;
  }
  .content-img {
    height: 12em;
    width: 16em;
  }
}
@media (max-width: 530px) {
  .contents-container {
    padding: 50px 70px;
  }
  .content-img {
    height: 10em;
    width: 14em;
  }
}
@media (max-width: 470px) {
  .contents-container {
    padding: 50px 65px;
  }
  .content-desc {
    padding: 15px;
  }
  .content-img {
    height: 9em;
    width: 13em;
  }
}
@media (max-width: 410px) {
  .contents-container {
    padding: 40px 30px;
  }
  .content-desc {
    padding: 14px;
  }
}
@media (max-width: 350px) {
  .contents-container {
    padding: 40px 20px;
  }
  .content-desc {
    padding: 12px;
  }
  .content-img {
    height: 8em;
    width: 11em;
  }
}








/*--------------------------*/
/*--------------------------*/
/*-------------(BELOW are only testing elements)-------------*/
.all-button,
.fruit-button,
.veggie-button {
  border: none;
  border-radius: 5px;
  margin: 3px;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(235, 226, 226);
}
.all-button {
  background-color: rgb(195, 184, 184);
  color: rgb(58, 55, 55);
}
.fruit-button {
  background-color: red;
}
.veggie-button {
  background-color: green;
}
/* .title {
  color: hotpink;
  text-align: center;
} */

/*-------------(testing elements)-------------*/
.input-container {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  /* background-color: orange;  */
}
.input-container input {
  width: 50%;
  padding: 0px 10px;
}
 .input-container button {
  margin-left: 10px;
  cursor: pointer;
}

/*-----------container where red & green buttons-----------*/
.baskets-container {
  border: solid 2px grey;
  border-radius: 8px;
  padding: 10px;
  background-color: pink;
}
.favorites-container {
  border: solid 2px aqua;
  border-radius: 8px;
  margin: 10px 0px;
  padding: 0 10px 10px 10px;
}

