.content-details-outer-container {
    /* background-color: dodgerblue; */
    /* margin: 0 440px; */
    height: 120vh;
    background-image: url(https://images.unsplash.com/photo-1533144176511-6fcdf0867173?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTkxfHxmcnVpdCUyMGFuZCUyMHZlZ2V0YWJsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    padding: 190px 30px 40px 30px;
}
.content-details-inner-container {
    /* background-color: pink; */
    background-color: rgba(110, 107, 107, 0.439);
    border-radius: 45px;
    padding: 20px;
    margin: 85px 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    -webkit-box-shadow: 2px 0px 8px 3px rgba(77, 76, 76, 0.6);
    box-shadow: 2px 0px 8px 3px rgba(132, 130, 130, 0.6);
}
.detail-image {
    /* background-color: gray; */
    padding: 5px;
    border-radius: 30px;
    height: 11em;
    width: 11em;
    align-items: center;
}
.detail-title {
    background-color: rgba(238, 234, 201, 0.568);
    border-radius: 30px 0 40px 30px;
    padding: 4px 12px 8px 12px;
    text-align: center;
    margin-top: -42px;
    margin-right: 5px;
}
.detail-descript-container {
    /* background-color: rgb(0, 255, 200); */
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    margin: 5px 20px;
}
.detail-descript {
    /* background-color: rgba(233, 207, 162, 0.455); */
    display: flex;
    align-items: center;
    padding: 10px 25px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    border-radius: 12px;
    -webkit-box-shadow: 2px 0px 8px 3px rgba(121, 118, 118, 0.6); 
    box-shadow: 2px 0px 8px 3px rgba(183, 182, 182, 0.6); 
}
.detail-category {
    background-color: rgba(121, 191, 137, 0.443);
    border-radius: 14px;
    padding: 12px;
    margin: 25px 9px 25px 0px;
}
.detail-back-btn {
    background-color: rgba(188, 165, 106, 0.605);
    height: 3em;
    border-radius: 24px;
    font-size: 11px;
    font-weight: bold;
    align-items: center;
    display: flex;
    margin-top: 25px;
    -webkit-box-shadow: 2px 0px 8px 3px rgba(77, 76, 76, 0.6);
    box-shadow: 2px 0px 8px 3px rgba(89, 89, 89, 0.6);

    border: none;
    cursor: pointer;
    transition: 0.7s ease;
    text-align: center;
    text-decoration: none;
  }
  .detail-back-btn:hover {
    color: green;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    text-decoration-line: underline;
  }
