.content-details-outer-container {
    margin:0 auto;
    height: 120vh;
    background-image: url(https://images.unsplash.com/photo-1533144176511-6fcdf0867173?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTkxfHxmcnVpdCUyMGFuZCUyMHZlZ2V0YWJsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 190px 30px 40px 30px;
    text-align: center;
    overflow: hidden;
}
.content-details-inner-container {
    /* background-color: pink; */
    background-color: rgba(155, 149, 149, 0.439);
    border-radius: 45px;
    padding: 20px;
    margin: 90px 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    -webkit-box-shadow: 2px 0px 8px 3px rgba(77, 76, 76, 0.6);
    box-shadow: 2px 0px 8px 3px rgba(132, 130, 130, 0.6);
}
.detail-image {
    /* background-color: gray; */
    padding: 5px;
    border-radius: 30px;
    height: 11em;
    width: 11em;
    align-items: center;
}
.detail-title {
    background-color: rgba(238, 234, 201, 0.568);
    border-radius: 30px 0 40px 30px;
    padding: 4px 12px 8px 12px;
    text-align: center;
    margin-top: -42px;
    margin-left: 8px;
    margin-right: 8px;
}
.detail-descript-container {
    /* background-color: rgb(0, 255, 200); */
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    margin: 5px 20px;
}
.detail-descript {
    /* background-color: rgba(233, 207, 162, 0.455); */
    display: flex;
    align-items: center;
    padding: 10px 25px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    border-radius: 12px;
    -webkit-box-shadow: 2px 0px 8px 3px rgba(121, 118, 118, 0.6); 
    box-shadow: 2px 0px 8px 3px rgba(183, 182, 182, 0.6); 
}
.detail-category {
    background-color: rgba(121, 191, 137, 0.443);
    border-radius: 14px;
    padding: 12px;
    margin: 25px 9px 25px 0px;
}
.detail-back-btn {
    background-color: rgba(188, 165, 106, 0.605);
    height: 3em;
    border-radius: 24px;
    font-size: 11px;
    font-weight: bold;
    align-items: center;
    display: flex;
    margin-top: 25px;
    -webkit-box-shadow: 2px 0px 8px 3px rgba(77, 76, 76, 0.6);
    box-shadow: 2px 0px 8px 3px rgba(89, 89, 89, 0.6);

    border: none;
    cursor: pointer;
    transition: 0.7s ease;
    text-align: center;
    text-decoration: none;
}
.detail-back-btn:hover {
    color: green;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    text-decoration-line: underline;
}

/* ------------MEDIA QUERIES------------- */
@media (max-width: 1350px) {
    .content-details-outer-container {
        background-color: red;
        padding: 210px 30px 40px 30px;
    }
    .content-details-inner-container {
        margin: 90px 330px;
    }
}
@media (max-width: 1250px) {
    .content-details-outer-container {
        background-color: green;
        padding: 190px 30px 40px 30px;
    }
    .content-details-inner-container {
        margin: 90px 300px;
    }
}
@media (max-width: 1160px) {
    .content-details-outer-container {
        background-color: blue;
        padding: 210px 30px 40px 30px;
    }
    .content-details-inner-container {
        margin: 90px 280px;
        align-items: center;
    }
    .detail-descript {
        font-size: 13px;
    }
}
@media (max-width: 1040px) {
    .content-details-outer-container {
        background-color: orange;
        padding: 180px 30px 40px 30px;
    }
    .content-details-inner-container {
        margin: 90px 330px;
    }
    .content-details-inner-container {
        padding: 20px;
        margin: 80px 280px;
    }
    .detail-descript-container {
        padding: 20px;
        margin: 5px;
    }
    .detail-descript {
        font-size: 12px;
    }
    .detail-category {
        margin: 25px 9px 25px -5px;
    }
}
@media (max-width: 950px) {
    .content-details-outer-container {
        background-color: gray;
    }
    .content-details-inner-container {
        padding: 20px;
        margin: 70px 230px;
    }
    .detail-category {
        margin: 25px 9px 25px -5px;
    }
}
@media (max-width: 900px) {
    .content-details-outer-container {
        background-color: yellow;
    }
    .content-details-inner-container {
        padding: 22px;
        margin: 70px 220px;
    }
    .detail-descript {
        font-size: 11px;
    }
    .detail-category {
        margin: 25px 9px 25px -10px;
    }
}
@media (max-width: 870px) {
    .content-details-outer-container {
        background-color: teal;
    }
    .content-details-inner-container {
        padding: 25px 20px;
        margin: 70px 200px;
    }
    .detail-descript-container {
        padding: 20px 15px;
        margin: 5px;
    }
    .detail-category {
        margin: 25px 9px 25px -12px;
    }
}
@media (max-width: 800px) {
    .content-details-outer-container {
        background-color: pink;
    }
    .content-details-inner-container {
        padding: 25px 20px;
        margin: 70px 180px;
    }
    .detail-descript-container {
        margin: 5px;
    }
}
@media (max-width: 710px) {
    .content-details-outer-container {
        background-color: purple;
    }
    .content-details-inner-container {
        margin: 70px 130px;
    }
    .detail-image {
        height: 10em;
        width: 10em;
    }
}
@media (max-width: 640px) {
    .content-details-outer-container {
        background-color: brown;
    }
    .content-details-inner-container {
        margin: 70px 100px;
    }
    .detail-descript {
        font-size: 10px;
    }
}
@media (max-width: 540px) {
    .content-details-outer-container {
        background-color: gold;
    }
    .content-details-inner-container {
        margin: 70px 60px;
    }
}
@media (max-width: 500px) {
    .content-details-outer-container {
        background-color: indigo;
    }
    .content-details-inner-container {
        margin: 70px 50px;
    }
}
@media (max-width: 460px) {
    .content-details-outer-container {
        background-color: indigo;
    }
    .content-details-inner-container {
        margin: 70px 30px;
    }
}
@media (max-width: 400px) {
    .content-details-outer-container {
        background-color: fuchsia;
    }
    .content-details-inner-container {
        margin: 70px 10px;
    }
}
@media (max-width: 340px) {
    .content-details-outer-container {
        background-color: aqua;
    }
    .content-details-inner-container {
        margin: 70px 7px;
    }
    .detail-descript-container {
        padding: 20px 12px;
        margin: 3px;
    }
    .detail-descript {
        font-size: 10px;
    }
}
@media (max-width: 320px) {
    .content-details-outer-container {
        background-color: yellowgreen;
    }
    .content-details-inner-container {
        margin: 70px 5px;
    }
    .detail-descript-container {
        padding: 20px 9px;
        margin: 3px;
    }
}
@media (max-width: 295px) {
    .content-details-outer-container {
        background-color: darkred;
    }
    .content-details-inner-container {
        margin: 70px 2px;
    }
    .detail-image {
        height: 8.5em;
        width: 9.5em;
    }
    .detail-descript-container {
        padding: 20px 0px;
        margin: 5px 0;
    }
    .detail-descript {
        font-size: 9px;
    }
}
@media (max-width: 270px) {
    .content-details-outer-container {
        background-color: darkgoldenrod;
    }
    .content-details-inner-container {
        margin: 70px -3px;
    }
    .detail-image {
        height: 8em;
    }
    .detail-descript-container {
        margin: 5px -1px;
    }
    .detail-descript {
        font-size: 8px;
    }
}