.home-container {
    height: 100vh;
    background-image: url(https://i.picsum.photos/id/292/3852/2556.jpg?hmac=cPYEh0I48Xpek2DPFLxTBhlZnKVhQCJsbprR-Awl9lo);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fruggie-card {
    background-color: rgba(148, 144, 144, 0.439);
    color: rgb(3, 3, 3);
    text-shadow: 1px 1px 2px rgba(8, 34, 13, 0.959), 0 0 1em rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 70px 20px 70px;
    margin-top: 180px;
    width: 610px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 0px 8px 3px rgba(29, 123, 29, 0.6);
    box-shadow: 2px 0px 8px 3px rgba(89, 89, 89, 0.6);
}
.fruggie-card h3 {
    font-size: 33px;
}
.fruggie-card p {
    font-size: 13px;
}
details:hover {
  cursor: pointer;
  border: none;
  outline-width: 0;
}
  

/*--------------------------*/
/*--------------------------*/
/* ------------MEDIA QUERIES------------- */
@media (max-width: 1350px) {
  /* .home-container {
    background-color: purple;
  } */
  .fruggie-card {
    margin-top: 160px;
    padding: 10px 60px;
  }
  .fruggie-card p {
    font-size: 12px;
  }
}
@media (max-width: 1250px) {
  /* .home-container {
    background-color: red;
  } */
  .fruggie-card {
    margin-top: 170px;
    padding: 10px 60px;
  }
}
@media (max-width: 1160px) {
  /* .home-container {
    background-color: pink;
  } */
  .fruggie-card {
    padding: 10px 60px;
  }
  .fruggie-card p {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  /* .home-container {
    background-color: blue;
  } */
  .fruggie-card {
    margin-top: 170px;
    padding: 10px 70px;
  }
}
@media (max-width: 950px) {
  .home-container {
    padding-top: 30px;
    /* background-color: green; */
  }
  .fruggie-card {
    margin-top: 165px;
    padding: 10px 70px;
  }
}
@media (max-width: 900px) {
  /* .home-container {
    background-color: orange;
  } */
  .fruggie-card {
    margin-top: 140px;
    padding: 10px 60px;
  }
}
@media (max-width: 870px) {
  .home-container {
    padding-left: 160px; 
    padding-right: 160px;
    /* background-color: aqua; */
  }
  .fruggie-card {
    margin-top: 130px;
    padding: 10px 40px;
  }
}
@media (max-width: 800px) {
  .home-container {
    padding-left: 130px; 
    padding-right: 130px;
    /* background-color: black; */
  }
  .fruggie-card {
    padding: 10px 45px;
  }
  .fruggie-card h3 {
    font-size: 30px;
  }
  .fruggie-card p {
    font-size: 11px;
  }
}
@media (max-width: 710px) {
  .home-container {
    padding-left: 120px; 
    padding-right: 120px;
    /* background-color: teal; */
  }
  .fruggie-card {
    margin-top: 125px;
  }
}
@media (max-width: 640px) {
  /* .home-container {
  background-color: fuchsia;
  } */
  .fruggie-card {
    margin-top: 130px;
  }
  .fruggie-card h3 {
    font-size: 25px;
  }
  .fruggie-card p {
    font-size: 9px;
  }
}
@media (max-width: 540px) {
  .home-container {
    padding-left: 100px; 
    padding-right: 100px;
    /* background-color: gray; */
  }
  .fruggie-card h3 {
    font-size: 20px;
  }
  .fruggie-card p {
    font-size: 8px;
  }
}
@media (max-width: 500px) {
  .home-container {
    padding-left: 80px; 
    padding-right: 80px;
    /* background-color: blanchedalmond; */
  }
  .fruggie-card {
    margin-top: 140px;
  }
}
@media (max-width: 460px) {
  .home-container {
    padding-left: 45px; 
    padding-right: 45px;
    /* background-color: dodgerblue; */
  }
}
@media (max-width: 400px) {
  .home-container {
    padding-left: 30px; 
    padding-right: 30px;
    /* background-color: red; */
  }
  .fruggie-card {
    padding: 10px 40px;
  }
}
@media (max-width: 330px) {
  .home-container {
    padding-left: 25px; 
    padding-right: 25px;
    /* background-color: indigo; */
  }
  .fruggie-card {
    padding: 10px 20px;
    margin-top: 140px;
  }   
}
@media (max-width: 270px) {
  .home-container {
    padding-left: 20px; 
    padding-right: 20px;
    /* background-color: darkblue; */
  }
  .fruggie-card {
    padding: 5px 5px 10px 5px;
    margin-top: 130px;
  }   
}
  