.home-container {
    height: 100vh;
    background-image: url(https://i.picsum.photos/id/292/3852/2556.jpg?hmac=cPYEh0I48Xpek2DPFLxTBhlZnKVhQCJsbprR-Awl9lo);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 180px
}

.fruggie-card {
    background-color: rgba(58, 56, 56, 0.5);
    color: rgb(23, 22, 22);
    text-shadow: 1px 1px 2px rgba(8, 34, 13, 0.959), 0 0 1em rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 45px 20px 45px;
    margin-top: 20px;
    width: 610px;
    border-radius: 8px;
    -webkit-box-shadow: 2px 0px 8px 3px rgba(77, 76, 76, 0.6);
    box-shadow: 2px 0px 8px 3px rgba(89, 89, 89, 0.6);
}
.fruggie-card h3 {
    font-size: 34px;
}
.fruggie-card p {
    font-size: 18px;
}
  

/*--------------------------*/
/*--------------------------*/
/* ------------MEDIA QUERIES------------- */
@media (max-width: 1350px) {
    .home-container {
      background-color: purple;
    }
    .fruggie-card {
      margin-top: 80px;
    }
  }
  @media (max-width: 1250px) {
    .home-container {
      background-color: red;
    }
  }
  @media (max-width: 1160px) {
    .home-container {
      background-color: pink;
    }
  }
  @media (max-width: 1000px) {
    .home-container {
      background-color: blue;
    }
  }
  @media (max-width: 950px) {
    .home-container {
      padding-top: 30px;
      background-color: green;
    }
  }
  @media (max-width: 900px) {
    .home-container {
      background-color: orange;
    }
  }
  @media (max-width: 870px) {
    .home-container {
      padding-left: 160px; 
      padding-right: 160px;
      background-color: aqua;
    }
  }
  @media (max-width: 800px) {
    .home-container {
      padding-left: 140px; 
      padding-right: 140px;
      background-color: black;
    }
  }
  @media (max-width: 710px) {
    .home-container {
      padding-left: 120px; 
      padding-right: 120px;
      background-color: teal;
    }
    .fruggie-card {
      margin-top: 120px;
    }
  }
  @media (max-width: 630px) {
    .home-container {
    background-color: fuchsia;
    }
    .fruggie-card {
      margin-top: 150px;
    }
    .fruggie-card p {
      font-size: 16px;
    }
}
  @media (max-width: 540px) {
    .home-container {
      padding-left: 100px; 
      padding-right: 100px;
      background-color: gray;
    }
    .fruggie-card {
      margin-top: 130px;
    }
    .fruggie-card p {
      font-size: 14px;
    }
  }
  @media (max-width: 500px) {
    .home-container {
      padding-left: 80px; 
      padding-right: 80px;
      background-color: blanchedalmond;
    }
    .fruggie-card {
      margin-top: 135px;
    }
  }
  @media (max-width: 460px) {
    .home-container {
      padding-left: 60px; 
      padding-right: 60px;
      background-color: dodgerblue;
    }
  }
  @media (max-width: 400px) {
    .home-container {
      padding-left: 40px; 
      padding-right: 40px;
      background-color: red;
    }
  }
  @media (max-width: 330px) {
    .home-container {
      padding-left: 40px; 
      padding-right: 40px;
      background-color: indigo;
    }
    .fruggie-card {
      margin-top: 140px;
    }
    .fruggie-card p {
      font-size: 12px;
  }
    
  }
  